[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = viewport
[submodule "Dependencies/meshoptimizer"]
	path = Dependencies/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
	branch = master
[submodule "Dependencies/tbb"]
	path = Dependencies/tbb
	url = https://github.com/01org/tbb.git
	branch = tbb_2019
[submodule "Dependencies/libdeflate"]
	path = Dependencies/libdeflate
	url = https://github.com/ebiggers/libdeflate.git
[submodule "Dependencies/detours"]
	path = Dependencies/detours
	url = https://github.com/Nukem9/detours.git
