[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = viewport
[submodule "Dependencies/tracy"]
	path = Dependencies/tracy
	url = https://bitbucket.org/wolfpld/tracy.git
	branch = master
[submodule "Dependencies/meshoptimizer"]
	path = Dependencies/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
	branch = master
